<template>
  <div>
    <h3>Add Post</h3>
    <ModifyPost/>
  </div>
</template>

<script>
import ModifyPost from "@/components/ModifyPost.vue";

export default {
  components: {
    ModifyPost,
  },
};
</script>

<style></style>
