<template>
  <div class="home mt-3">
    <b-card-group columns class="post-list">
      <PostCard v-for="(post, index) in posts" :key="index" :post="post" />
    </b-card-group>
  </div>
</template>

<script>
// @ is an alias to /src
import PostCard from '@/components/PostCard.vue'
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {
    PostCard
  },
  data: () => {
    return {};
  },
  computed: {
    ...mapState(["posts"])
  },
};
</script>
