<template>
  <div v-if="post">
    <h1 class="text-center text-capitalize">
      {{ post.title }}
    </h1>

    <p class="post-body">
      {{post.body}}
    </p>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["getPostById"]),
    post() {
      return this.getPostById(this.$route.params.id);
    }
  }
};
</script>

<style scoped>
  .post-body {
    font-size: 1.3rem;
  }
</style>
