<template>
  <div class="chat">
    <ChatLogin v-if="!chat.user.username" />
    <div class="d-flex justify-content-end mb-2">
      <b-button
        class="btn btn-icon btn-light"
        v-b-modal.online-users
        v-b-tooltip.hover
        title="Online Users"
      >
        <span class="material-icons" v-if="chat.user.username">people_outline</span>
      </b-button>
    </div>
    <div class="chat__messages" v-if="chat.user.username">
      <p
        class="mb-2 text-left"
        v-for="(message, index) of chat.messages"
        :key="index"
      >
        <span class="font-weight-bold">{{ message.user.username }}</span
        >:&nbsp;{{ message.text }}
      </p>
    </div>

    <b-input-group class="mt-auto" v-if="chat.user.username">
      <b-form-input v-model="message" @keyup.enter="sendMessage"></b-form-input>
      <b-input-group-append>
        <button class="btn btn-primary btn-icon" variant="primary" @click="sendMessage">
          <span class="material-icons md-18">
            send
          </span>
        </button>
      </b-input-group-append>
    </b-input-group>

    <b-modal id="online-users" title="Online Users" ok-only>
      <b-list-group>
        <b-list-group-item
          v-for="(username, index) in usersList"
          :key="index"
          >{{ username }}</b-list-group-item
        >
      </b-list-group>
    </b-modal>
  </div>
</template>

<script>
import ChatLogin from "./ChatLogin";
import { mapState, mapActions } from "vuex";
import io from "socket.io-client";
import { map } from "lodash";
export default {
  data: function() {
    return {
      socket: undefined,
      message: null,
      users: [],
    };
  },
  components: {
    ChatLogin,
  },
  watch: {
    "chat.user.username": function(value) {
      if (value) {
        this.socket = io("localhost:4000");
        this.socket.on("connect", () => {
          this.connect();
        });

        this.socket.on("users", (users) => {
          this.users = users;
        });

        this.socket.on("message", (message) => {
          this.addMessage(message);
        });

        this.socket.on("disconnect", () => {
          this.messages = [];
        });
      }
    },
  },
  computed: {
    ...mapState(["chat"]),
    usersList: function() {
      //ottengo la lista degli utenti in modo da poterla ciclare
      return map(this.users, (user) => user.username);
    },
  },
  methods: {
    ...mapActions(["chatLogin", "addMessage"]),
    connect: function() {
      this.socket.emit("connected", this.chat.user);
    },
    sendMessage: function() {
      if (this.message) {
        this.socket.emit("message", {
          user: this.chat.user,
          text: this.message,
        });
        this.message = "";
      }
    }
  },
  mounted: function() {
    const state = JSON.parse(localStorage.getItem("state"));

    if (state && state.chat) {
      if (state.chat.user && state.chat.user.username) {
        this.chatLogin(state.chat.user);
      }

      if (state.chat.messages) {
        state.chat.messages.map((message) => {
          this.addMessage(message);
        });
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.chat {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__messages {
    overflow: auto;

    &::-webkit-scrollbar {
      color: var(--primary);
      width: 6px;
      &-thumb {
        background-color: var(--primary);
      }
    }
  }
}
</style>
