<template>
  <b-form @submit.prevent="onSubmit" @reset="initForm">
    <b-form-group label="Post Title" lable-for="post-title">
      <b-form-input
        name="post-title"
        v-model="formValues.title"
        type="text"
        placeholder="Write the body of your post"
        required
        @input="$v.formValues.title.$touch"
        :state="$v.formValues.title.$dirty ? !$v.formValues.title.$invalid : undefined"
      >
      </b-form-input>

      <small
        class="text-danger"
        v-if="$v.formValues.title.$dirty && !$v.formValues.title.minLength">
        Title must be at least 4 characters long!
      </small>

      <small
        class="text-danger"
        v-if="$v.formValues.title.$dirty && !$v.formValues.title.required">
        Title is required
      </small>
    </b-form-group>

    <b-form-group label="Post Body" lable-for="post-body">
      <b-form-textarea
        name="post-body"
        v-model="formValues.body"
        type="text"
        min-rows="3"
        placeholder="Write the title of your post"
        required
        @input="$v.formValues.body.$touch"
        :state="
          $v.formValues.body.$dirty ? !$v.formValues.body.$invalid : undefined"
      >
      </b-form-textarea>

      <small
        class="text-danger"
        v-if="$v.formValues.body.$dirty && !$v.formValues.body.minLength">
        Body must be at least 15 characters long!
      </small>

      <small
        class="text-danger"
        v-if="$v.formValues.body.$dirty && !$v.formValues.body.required">
        Body is required
      </small>
    </b-form-group>

    <b-form-group label="Author" label-for="userId">
      <b-form-select
        name="UserId"
        v-model="formValues.userId"
        :options="usersForSelect"
        required
        @input="$v.formValues.userId.$touch"
        :state="
          $v.formValues.userId.$dirty ? !$v.formValues.userId.$invalid : undefined"
      ></b-form-select>

      <small
        class="text-danger"
        v-if="$v.formValues.userId.$dirty && !$v.formValues.body.required">
        Author is required
      </small>
    </b-form-group>

    <b-button class="mr-2" type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
    {{$v}}
  </b-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  watch: {
    post: {
      handler(post) {
        if (post) {
          this.updateMode = true;
          this.formValues.title = post.title;
          this.formValues.body = post.body;
          this.formValues.userId = post.userId;
        }
      },
      immediate: true,
    },
  },
  data: function() {
    return {
      updateMode: false,
      formValues: {
        title: "",
        userId: "",
        body: "",
      },
      users: [],
    };
  },
  computed: {
    ...mapGetters({
      usersForSelect: "getUsersForSelect",
      getPostById: "getPostById",
    }),
    post() {
      return this.getPostById(this.$route.params.id);
    },
  },
  methods: {
    ...mapActions(["addPost", "editPost", "getUsers"]),
    initForm: function() {
      this.formValues = {
        title: "",
        userId: "",
        body: "",
      };
    },
    onSubmit: function() {
      if(!this.$v.$invalid) {
        const request = {
          title: this.formValues.title,
          body: this.formValues.body,
          userId: this.formValues.userId,
        };

        if (!this.updateMode) {
          this.addPost(request);
        } else {
          this.editPost(request);
        }
        this.initForm();
      }
    },
  },
  validations: {
    formValues: {
      title: {
        required,
        minLength: minLength(4),
      },
      body: {
        required,
        minLength: minLength(15),
      },
      userId: {
        required,
      },
    },
  },
  mounted: function() {
    this.getUsers();
  },
};
</script>

<style lang="sass" scoped></style>
