<template>
  <b-card class="post-card" :title="post.title | capitalize" :img-src="image">
    <b-card-text class="text-truncate">
      {{ post.body }}
    </b-card-text>
    <div class="d-flex">
      <router-link class="text-dark mr-1" :to="`/posts/edit/${post.id}`"><span class="material-icons">edit</span></router-link>
      <b-link class="text-dark" @click="removePost"><span class="material-icons">delete</span></b-link>
      <router-link class="ml-auto" :to="`/posts/${post.id}`">Read More</router-link>
    </div>
  </b-card>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  props: {
    post: Object,
  },
  data: function() {
    return {
      images: [
        "https://placekitten.com/423/200",
        "http://via.placeholder.com/640x360",
        "https://placekitten.com/640/360",
      ],
    };
  },
  computed: {
    image() {
      return this.images[Math.floor(Math.random() * this.images.length)];
    },
  },
  methods: {
    ...mapActions({removeAction: "removePost"}),
    removePost: function() {
      this.removeAction(this.post.id);
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>

<style scoped>
  .post-card {
    max-height: 415px;
  }
</style>