<template>
  <div id="app">
    <NavBar />
    <b-container>
      <router-view />
    </b-container>

    <b-sidebar id="chat-sidebar" title="Chat" right shadow>
      <div class="container-fluid h-100">
        <Chat />
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import NavBar from "@/components/NavBar";
import Chat from "@/components/Chat";

export default {
  data: function() {
    return {};
  },
  components: {
    NavBar,
    Chat,
  },
  methods: {
    ...mapActions(["getPosts"]),
  },
  mounted: function() {
    this.getPosts();
    this.$route;
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}

.btn-icon {
  display: inline-flex!important;
  justify-content: center;
  align-items: center;
}
</style>
